*{
    margin: 0;
}
.main{
 display: flex;
 justify-content: center;
 position: relative;
}
.container{
    width: 30%;
    height: 80vh;
    background-color: #265cc5;;
    display: flex;
    flex-direction: column;
    align-items: center ;

}
 .child{
    margin-top: 20px ;
   background-color: #2b06bf
}
.para{
    font-family: Sofia Pro Black, Helvetica Neue, Helvetica, Arial, sans-serif;

    padding: 10px;
    color: white;
    font-weight: bold;
    display: flex;
    justify-content: center;
}
.child2{
    margin-top: 20px;
    background-color: #2b06bf;
}

.container .child2{
    justify-self:last baseline;
}
.container2{
    width: 70%;
    height: 80vh;
    background-color:#265cc5;
    display: flex;
    object-fit: contain;

}
.container2 img{
  width: 100%;
  height: 100%;
  /* object-fit: cover; */
  clip-path: inset(0 26.5%);
  object-view-box: inset( 0 26.5% );
}
.container3 image{
    position: absolute;
}
.container3{
    width: 601px;
    position: absolute;
    top: 425px;
    left: 935px;

} 

.container3 img{
  width: 100%;
}